body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
  background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.25);
}
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}
.tabs {
    width: 100%;
  }
  
  .tab-nav {
    display: flex;
    background: #f0f0f0;
  }
  
  .nav-item {
    display: block;
    padding: 16px;
    cursor: pointer;
  
    &.selected {
      font-weight: bold;
      background: #fff;
    }
  }
  
  .tab {
    display: none;
    padding: 16px;
  
    &.selected {
      display: block;
    }
  }
  
  .tab-pag {
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
  }
  
  .pag-item {
    display: block;
    padding: 12px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
  
    &:last-child {
      margin-right: 0;
    }
  
    &.hidden {
      display: none;
    }
  }
  
  .pag-item-submit {
    flex: 0 1 180px;
    font-size: 1rem;
    color: #fff;
    border-color: #696969;
    background: #696969;
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  img {
    width: 100%;
  }
  
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Customize the shadow color and properties */
    background-color: #fff;
    /* Customize the background color of the navbar */
    padding: 10px 0;
    /* Add padding for spacing */
  }
  
  .logo {
    width: 160px;
  }
  
  .navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
  }
  
  .navbar .nav-link.active {
    color: var(--primary) !important;
  }
  .btn {
    padding: 14px 19px;
    border-width: 2px;
    border-radius: 5px;
    margin: 0 7px 1px;
    background-color: #007bff; /* Background color */
    color: #fff; /* Text color */
    font-weight: bold;
    text-transform: uppercase; /* Convert text to uppercase */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Hover background color */
    color: #fff; /* Hover text color */
  }
  

  .profile-header {
    background-image: url('../img/alumnis.jpg');
    background-size: 100% 100%;
    width: calc(100% + 212px);
    display: flex;
    padding: 10px 0;
    height: 295px;
    margin-left: -105px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  }

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 93px;
  top: 129px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 175px;
  color: #fff;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #777;
}

.profile-nav-info .address p {
  margin-right: 5px;
}

.profile-option {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  background: #0064e4 ;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid #0064e4 ;
}
.profile-option:hover .notification i {
  color: #0064e4 ;
}

.profile-option:hover span {
  background: #0064e4 ;
}

.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: #0064e4;
  border: 1px solid #0064e4;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  font-family: "Bree Serif", serif;
  margin-left: -41px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: #0064e4;
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
  color: #0064e4;
}

.profile-btn {
  display: flex;
}

button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #0064e4;
  color: #fff;
  font-family: "Bree Serif";
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
  background: rgba(288, 0, 70, 0.9);
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}

.user-rating {
  display: flex;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-of-user-rate {
  font-size: 0.9rem;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 0.9rem;
  color: rgba(228, 0, 70, 1);
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 80px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
  padding: 35px;
  width: 50%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  display: none;
}

.tab {
  padding: 10px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }

  .profile-nav-info {
    text-align: center;
  }

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .profile-nav-info .address {
    justify-content: center;
  }

  .user-rating {
    justify-content: center;
  }
}

  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }

  .profile-option .notification .alert-message {
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }

  .profile-nav-info h3 {
    font-size: 1.9rem;
  }

  .profile-nav-info .address p,
  .profile-nav-info .address span {
    font-size: 0.7rem;
  }

#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}
.tab h1 {
  font-family: "Bree Serif", sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.form-control {
  display: block;
  width: 100%;
  padding: 12.625rem -15.25rem;
  margin: 0 53px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-label {
  text-align: left;
  display: block;
  font-weight: bold;
  margin: 0 30px 10px;
}
