body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
  padding: 20px;
}
body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.tabs {
  width: 100%;
}

.tab-nav {
  display: flex;
  background: #f0f0f0;
}

.nav-item {
  display: block;
  padding: 16px;
  cursor: pointer;

  &.selected {
    font-weight: bold;
    background: #fff;
  }
}

.tab {
  display: none;
  padding: 16px;

  &.selected {
    display: block;
  }
}

.tab-pag {
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
}

.pag-item {
  display: block;
  padding: 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &.hidden {
    display: none;
  }
}

.pag-item-submit {
  flex: 0 1 180px;
  font-size: 1rem;
  color: #fff;
  border-color: #696969;
  background: #696969;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Customize the shadow color and properties */
  background-color: #fff;
  /* Customize the background color of the navbar */
  padding: 10px 0;
  /* Add padding for spacing */
}

.logo {
  width: 160px;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar .nav-link.active {
  color: var(--primary) !important;
}

.btn {
  padding: 14px 19px;
  border-width: 2px;
  border-radius: 5px;
  margin: 0 7px 1px;
  background-color: #007bff; /* Background color */
  color: #fff; /* Text color */
  font-weight: bold;
  text-transform: uppercase; /* Convert text to uppercase */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Hover background color */
  color: #fff; /* Hover text color */
}

.btn-previous {
  margin-right: 20px; /* Add margin to separate the buttons */
}

.btn-submit {
  margin-left: 20px; /* Add margin to separate the buttons */
}

.profile-picture {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  width: calc(177% - 13px);
}

.profile-image-label {
  display: inline-block;
  cursor: pointer;
}

.image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  width: 138%;
  height: '';
  object-fit: cover;
  cursor: pointer;
}

.center-container {
  text-align: center;
}

.container-box {
  background-color: rgba(255, 255, 255, .06);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 600px;

}

.center-container {
  text-align: center;
  margin-bottom: 20px;
  width: calc(200% - 0px);
}

.container-box {
  background-color: rgba(255, 255, 255, 0.06);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 800px;
}

.center-container {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
  /* Adjust the spacing between form groups */
}

.input-group-text i {
  font-size: 2em;
  /* Adjust the icon size */
}

.input-group {
  display: flex;
  margin: 0 17px;
  margin-bottom: 1px;
  border-radius: 0 8.5px 8.5px 0;
}


.bi-person-circle {
  width: 50px; 
  height: 50px; 
}
.svg-icon {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  fill: #000; /* Set the color of the icon */
}
.svg-icon-envelope {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  fill: #000; /* Set the color of the icon */
}


/* Adjust the size of the text boxes */
.form-control {
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #000; /* Adjust the color as needed */
    border-radius: 0;
}

.form-control {
  padding: 10px;
  font-size: 18px;
  text-align: left;
  margin: 0 51px;
  background-color: transparent;
}


.form-label {
  text-align: left;
  display: block;
  font-weight: bold;
  margin: 0 28px 10px; /* Top, Right, Bottom */
}

#formContainer {
  display: none;
}

.carousel-inner .carousel-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  /* Adjust the transition duration */
}

.carousel-inner .carousel-item.active {
  opacity: 1;
}

.carousel-inner .carousel-item img {
  width: 100vw;
  /* Set image width to 100% of viewport width */
  height: auto;
  /* Maintain aspect ratio */
}
.row.justify-content-left {
  width: 100%;
}
body {
  font-family: 'Varela Round', sans-serif;
}

.modal-content{
  background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}
 .modal-confirm {
        color: #636363;
        width: 325px;
        margin: 30px auto;
    }

    .modal-confirm .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-confirm .modal-header {
        border-bottom: none;
        position: relative;
        color: #0a0a0a;
    }
    .modal-body{
      color: #0a0a0a;
    }

    .modal-confirm h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
        width: calc(200% - 81px);
    }

    .modal-confirm .form-control,
    .modal-confirm .btn {
        min-height: 40px;
        border-radius: 3px;
    }

    .modal-confirm .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .modal-confirm .modal-footer {
        border: none;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
    }

    .modal-confirm .icon-box {
        color: #fff;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #82ce34;
        padding: 15px;
        text-align: center;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .modal-confirm .icon-box i {
        font-size: 58px;
        position: relative;
        top: 3px;
    }

    .modal-confirm.modal-dialog {
        margin-top: 80px;
    }

    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
        background: #82ce34;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
        width: calc(200% - 81px);
    }

    .modal-confirm .btn:hover,
    .modal-confirm .btn:focus {
        background: #6fb32b;
        outline: none;
    }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
    
